version: '3'

services:
  frontend:
    build: .
    ports:
      - "80:80"
      - "443:443"
    restart: always
    container_name: xinhuo_report_frontend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    restart: always
    container_name: xinhuo_report_backend
    volumes:
      - ./backend/wishes.json:/app/wishes.json

  minio:
    image: minio/minio:latest
    container_name: xinhuo_minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadminpassword
      MINIO_SERVER_URL: http://114.132.125.221:9000
      MINIO_BROWSER_REDIRECT_URL: http://114.132.125.221:9001
    volumes:
      - ./minio_data:/data
    restart: always
