version: '3'

services:
  frontend:
    build: .
    ports:
      - "80:80"
      - "443:443"
    restart: always
    container_name: xinhuo_report_frontend
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    restart: always
    container_name: xinhuo_report_backend
    volumes:
      - ./backend/wishes.json:/app/wishes.json
